.header {
	z-index: 10;
	&__nav {
		&__list {
			display: flex;
			&__item {
				&:not(:last-child) {
					margin-right: 2.5em;
				}
			}
			&__link {
				position: relative;

				transition: 0.3s;
				@include font-source(
					$heading-font-family,
					1.1em,
					$base-font-weight,
					$text-secondary
				);
				letter-spacing: $spacing;
				&--active {
					padding-bottom: 0.15em;
					@include themed() {
						color: t($text);
					}
				}
				&::before {
					@include themed() {
						background-color: t($header-link);
					}
					transition: all 0.25s cubic-bezier(0.694, 0.048, 0.335, 1) 0.15s;
					content: '';
					position: absolute;
					bottom: -3px;
					left: auto;
					right: 0;
					width: 0;
					height: 2px;
					z-index: 2;
				}
				&::after {
					@include themed() {
						background-color: t($text-secondary);
					}
					transition: all 0.25s cubic-bezier(0.694, 0.048, 0.335, 1);
					content: '';
					position: absolute;
					bottom: -3px;
					left: auto;
					right: 0;
					width: 0;
					border-radius: 50%;
					height: 2px;
					z-index: 2;
				}
				&:hover {
					@include themed() {
						color: t($text);
					}
					&::after {
						width: 100%;

						left: 0;
					}
					&::before {
						width: 100%;
						left: 0;
					}
				}
			}
		}
	}
}
