.sidebar {
	@include mQ('m') {
		display: none;
	}
	position: fixed;
	bottom: 0;
	&::after {
		content: '';
		display: block;
		width: 1px;
		height: 90px;
		margin: 0px auto;
		@include themed() {
			background-color: t($text);
		}
	}
	&--left {
		left: 64px;
		@include mQ('l') {
			left: 40px;
		}
	}
	&--right {
		right: 40px;
	}
	&__email {
		writing-mode: vertical-lr;
		padding: 1.5em 0em;
		letter-spacing: $spacing;
		cursor: pointer;
		transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
		&:hover {
			transform: translateY(-3px);
			color: $highlight;
		}
	}
	&__item {
		transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
		&:hover {
			transform: translateY(-3px);
			a {
				svg {
					* {
						fill: $highlight;
					}
				}
			}
		}
		&:last-child {
			padding: 1.5em 0em;
		}
	}
	&__social {
		@include themed() {
			* {
				fill: t($text);
			}
		}
	}
}
