.theme-changer {
	cursor: pointer;
	transition: 0.3s;
	@include themed() {
		* {
			fill: t($text-secondary);
		}
	}
	&:hover {
		@include themed() {
			* {
				fill: t($text);
			}
		}
	}
	@include mQ('l') {
		width: 22px;
		height: 22px;
	}
}

.scroll-bar {
	&::-webkit-scrollbar-thumb {
		background-color: $gray !important;
	}
}
