@mixin font-source($family, $size, $weight, $color) {
	font-family: $family;
	font-size: $size;
	font-weight: $weight;
	color: $colour;
}

@mixin flex-display($display, $align, $justify) {
	display: $display;
	align-items: $align;
	justify-content: $justify;
}

@mixin mq($width, $type: max) {
	@if map_has_key($breakpoints, $width) {
		$width: map_get($breakpoints, $width);
		@media only screen and (#{$type}-width: $width) {
			@content;
		}
	}
}
