@mixin font-source($family, $size, $weight, $color) {
	font-family: $family;
	font-size: $size;
	font-weight: $weight;
	color: $color;
}

@mixin flex-display($display, $align, $justify) {
	display: $display;
	align-items: $align;
	justify-content: $justify;
}

@mixin mQ($width, $type: max) {
	@if map_has_key($breakpoints, $width) {
		$width: map_get($breakpoints, $width);
		@media only screen and (#{$type}-width: $width) {
			@content;
		}
	}
}

@mixin btnAfterBorder($color, $width) {
	content: '';
	position: absolute;
	border: 1px $color solid;
	width: $width;
	top: 7px;
	right: -10px;
	height: 44px;
	z-index: -1;
	transition: 0.3s;
}

@mixin btnBeforeBorder($color) {
	content: '';
	display: inline-block;
	height: 100%;
	background-color: $color;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: 0.4s;
}

@mixin pageSetup($height, $width) {
	height: $height;
	max-width: $width;
	margin: 0 auto;
	@include flex-display(flex, flex-start, center);
	flex-direction: column;
}
