$type-scale: (
	'heading': (
		'xs': 1.75em,
		's': 2em,
		'm': 2.5em,
		'l': 3.2em,
		'xl': 4.6em
	),
	'text': (
		'xs': 0.75em,
		's': 0.9em,
		'm': 1em,
		'l': 1.25em,
		'xl': 1.55em
	)
);

@each $type, $font-size in $type-scale {
	@each $size, $value in $font-size {
		@if ($type == 'heading') {
			.#{$type}-#{$size} {
				font-size: #{$value};
			}
		} @else {
			.#{$type}-#{$size} {
				font-size: #{$value};
			}
		}
	}
}

$text-colour: (
	'primary': $text,
	'secondary': $text-secondary,
	'highlight': $text-highlight
);

@each $type, $colour in $text-colour {
	.#{$type} {
		@include themed() {
			color: t($colour);
		}
	}
}

$text-weight: (
	'light': $light-font-weight,
	'base': $base-font-weight,
	'med': $medium-font-weight,
	'semi': $semi-font-weight,
	'bold': $bold-font-weight
);

@each $type, $weight in $text-weight {
	.#{$type} {
		font-weight: $weight;
	}
}
