// Fonts
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Be+Vietnam+Pro:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap');

// Font Family
$base-font-family: 'Poppins', sans-serif;
$btn-font-family: 'Be Vietnam Pro', sans-serif;
$heading-font-family: 'Audiowide', cursive;

// Weight
$light-font-weight: 300;
$base-font-weight: 400;
$medium-font-weight: 500;
$semi-font-weight: 600;
$bold-font-weight: 700;
