// Background Colours
$primary-bg: #171717;
$secondary-bg: #fff;

// Text Colours
$primary-text: #fff;
$secondary-text: #c4c4c4;
$onWhite-primary-text: #4f4f4f;
$onWhite-secondary-text: #262626;
$highlight-text: #aa9d6e;
