@mixin gitchText($offset, $text) {
	content: $text;
	position: absolute;
	left: $offset;
	top: $offset;
	clip: rect(0, 900px, 0, 0);
	background-color: $dark-bg;
	color: $highlight;
	animation: glitch 3s infinite alternate-reverse;
	animation-delay: 4s;
}

.about {
	@include pageSetup(100vh, 1440px);
	&__heading {
		margin-bottom: 1.5em;
		transition: opacity 0.1s cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
			transform 0.1s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	&__content-wrapper {
		width: 100%;
		@include flex-display(flex, flex-start, space-between);
	}
	&__details {
		margin-right: 4em;
		max-width: 700px;
		transition: opacity 0.1s cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
			transform 0.1s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		&__text {
			margin-bottom: 1em;
		}
		&__wrapper {
			margin-bottom: 2em;
		}
		&__hobbies {
			@include themed() {
				background-color: t($bg);
			}
			animation: fadeWhite 4s forwards;
			animation-delay: 2s;
			position: relative;
			&--1 {
				white-space: nowrap;
				&:after {
					@include gitchText(1px, 'drums');
				}
				&:before {
					@include gitchText(-1px, 'drums');
				}
			}
			&--2 {
				&:after {
					@include gitchText(1px, 'gym');
				}
				&:before {
					@include gitchText(-1px, 'gym');
				}
			}
			&--3 {
				&:after {
					@include gitchText(1px, 'game');
				}
				&:before {
					@include gitchText(-1px, 'game');
				}
			}
		}
		&__gif {
			position: absolute;
			top: -135px;
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			width: 180px;
			height: 130px;
		}
	}
	&__tools {
		&__wrapper {
			@include flex-display(grid, center, center);
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(3, 1fr);
			gap: 1.5em 3em;
		}
		&__heading {
			margin-bottom: 1.35em;
			transition: opacity 0.1s cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
				transform 0.1s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
			transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		}
		&__tool {
			transition: all 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
				opacity 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
				transform 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
			transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		}
	}
	&__btn {
		&__projects {
			&::after {
				width: 148px;
			}
		}
	}
}

@keyframes fadeWhite {
	100% {
		color: $highlight;
	}
}

@keyframes glitch {
	$steps: 20;
	@for $i from 0 through $steps {
		#{percentage($i * (1 / $steps))} {
			clip: rect(random(100) + px, 9999px, random(100) + px, 0);
		}
	}
}
