.about {
	@include pageSetup(100vh, 1440px);
	&__heading {
		margin-bottom: 1.5em;
		transition: opacity 0.1s cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
			transform 0.1s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	&__content-wrapper {
		width: 100%;
		@include flex-display(flex, flex-start, space-between);
	}
	&__details {
		margin-right: 4em;
		max-width: 700px;
		transition: opacity 0.1s cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
			transform 0.1s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		&__text {
			margin-bottom: 1em;
		}
		&__wrapper {
			margin-bottom: 2em;
		}
	}
	&__tools {
		&__wrapper {
			@include flex-display(grid, center, center);
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(3, 1fr);
			gap: 1.5em 3em;
		}
		&__heading {
			margin-bottom: 1.35em;
			transition: opacity 0.1s cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
				transform 0.1s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
			transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		}
		&__tool {
			transition: all 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
				opacity 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
				transform 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
			transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		}
	}
	&__btn {
		&__projects {
			&::after {
				width: 148px;
			}
		}
	}
}
