.header {
	position: fixed;
	padding: 0 4em;
	width: 100%;
	height: 100px;
	@include flex-display(flex, center, center);
	transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
	&__wrapper {
		@include flex-display(flex, center, space-between);
		width: 100%;
	}
}

.header-scroll {
	height: 70px;
	transform: translateY(-70px);
	box-shadow: 0 10px 30px -15px $dark-bg-opacity;
}

.header-top {
	@include themed() {
		background-color: t($header-bg);
	}
	backdrop-filter: blur(10px);
}
