.hero {
	@include pageSetup(100vh, 1440px);
	&__desc {
		max-width: 750px;
		margin-top: 1em;
	}
	&__btn-wrapper {
		margin-top: 2.5em;
	}
	&__name {
		font-size: clamp(32px, 7vw, 74px);
	}
	&__caption {
		font-size: clamp(24px, 6vw, 54px);
	}
}
