.portfolio {
	@include pageSetup(auto, 1440px);
	padding: 5.5em 0em;
	&__heading {
		margin-bottom: 1.5em;
		transition: opacity 0.1s cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
			transform 0.1s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
	&__content-wrapper {
		max-width: 1300px;
		margin: 0 auto;
		@include flex-display(flex, center, center);
		flex-direction: column;
	}
	&__project {
		@include flex-display(grid, center, flex-start);
		position: relative;
		gap: 10px;
		grid-template-columns: repeat(12, 1fr);
		transition: opacity 0.1s cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
			transform 0.1s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);

		&:not(:last-of-type) {
			margin-bottom: 4em;
		}
		&__content {
			position: relative;
			grid-area: 1 / 1 / -1 / 8;
		}
		&__carousel {
			display: flex;
			transform-style: preserve-3d;
			transition: transform 0.5s;
		}
		&__image-wrapper {
			grid-area: 1 / 6 / -1 / -1;
			width: 607px;
			justify-self: flex-end;
			overflow: hidden;
			position: relative;
			img {
				box-shadow: 0 10px 30px -15px $dark-bg-opacity;
			}
		}
		&__choices {
			margin-top: 0.75em;
			@include flex-display(flex, center, center);
			&__choice {
				height: 10px;
				transition: 0.3s;
				cursor: pointer;
				width: 10px;
				border-radius: 50%;
				@include themed() {
					background-color: t($header-link);
				}
				&:not(:first-child) {
					margin-left: 0.5em;
				}
				&--active {
					@include themed() {
						background-color: t($text);
					}
				}
				&:hover {
					@include themed() {
						background-color: t($text);
					}
				}
			}
		}
		&__skills-wrapper {
			@include flex-display(flex, center, flex-end);
			margin: 1em 0em;
		}
		&__socials-wrapper {
			@include flex-display(flex, center, flex-end);
		}
		&__name {
			margin-bottom: 0.25em;
		}
		&__desc-wrapper {
			box-shadow: 0 10px 30px -15px $dark-bg-opacity;
			@include themed() {
				background-color: t($card);
			}
			padding: 1em 1.5em;
			line-height: 1.5em;
		}
		&__skill {
			&:not(:first-child) {
				margin-left: 1em;
			}
			padding: 0.2em 1em;
			text-align: center;
			@include themed() {
				background-color: t($card);
			}
		}
		&__link {
			&:not(:first-child) {
				margin-left: 1em;
			}
			transition: 0.2s;

			svg {
				* {
					@include themed() {
						fill: t($text);
						stroke: t($text);
					}
				}
			}

			&:hover {
				svg {
					* {
						fill: $highlight;
						stroke: $highlight;
					}
				}
			}
		}
	}
}

.portfolio__project:nth-child(odd) .portfolio__project__content {
	grid-column: 6 / -1;
	text-align: right;
}

.portfolio__project:nth-child(odd) .portfolio__project__image-wrapper {
	grid-column: 1 / 8;
	justify-self: flex-start;
}

.portfolio__project:nth-child(even) .portfolio__project__skills-wrapper,
.portfolio__project:nth-child(even) .portfolio__project__socials-wrapper {
	@include flex-display(flex, center, flex-start);
}
