html {
	scroll-behavior: smooth;
}

body {
	width: 100%;
	height: 100vh;
	transition: 0.5s;
	font-family: $base-font-family;
	background-color: $dark-bg;
	overflow-x: hidden;
	&::-webkit-scrollbar {
		width: 16px;
	}
	&::-webkit-scrollbar-track {
		background: transparent;
	}
	&::-webkit-scrollbar-thumb {
		border: 5px solid rgba(187, 160, 160, 0);
		background-clip: padding-box;
		border-radius: 9999px;
		background-color: #aaa;
	}
	overflow: hidden;
}

.container {
	@include themed() {
		color: t($text);
	}
	visibility: hidden;
	z-index: -1;
}

a {
	text-decoration: none;
	outline: none;
}
ul {
	list-style: none;
}

#particles-js {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
	top: 0;
	left: 0;
	@include themed() {
		filter: t($particles);
	}
}

.main {
	min-height: 100vh;
	width: 100%;
	padding: 0em 9.5em;
	@include mQ('l') {
		padding: 0em 6.5em;
	}
	@include mQ('m') {
		padding: 0em 4em;
	}
	@include mQ('s') {
		padding: 0em 2.5em;
	}
	@include mQ('xs') {
		padding: 0em 1.25em;
	}
	@include mQ('xxxs') {
		padding: 0em 0.75em;
	}
}

.disable-scroll {
	@include mQ('m') {
		overflow: hidden !important;
	}
}
