html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	font-family: $base-font-family;
	color: $primary-text;
	height: 100%;
	width: 100%;
	background-color: $primary-bg;
	&::-webkit-scrollbar {
		width: 16px;
	}
	&::-webkit-scrollbar-track {
		background: transparent;
	}
	&::-webkit-scrollbar-thumb {
		border: 5px solid rgba(0, 0, 0, 0);
		background-clip: padding-box;
		border-radius: 9999px;
		background-color: #aaa;
	}
}

a {
	text-decoration: none;
	outline: none;
}
ul {
	list-style: none;
}

#particles-js {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
	top: 0;
	left: 0;
}

.main {
	min-height: 100vh;
	width: 100%;
	padding: 0em 9.5em;
}
